repository: '{{ ecr_regestry }}'
dockerconfig: ''

dbSettings:
  host: '{{ mysql.host }}'
  user: '{{ mysql.username }}'
  password: '{{ mysql.password }}'

baseDomain: sre

awsSettings:
  accessKeyId: '{{ s3.access_key }}'
  secretAccessKey: '{{ s3.secret_key }}'
  bucket: '{{ s3.bucket }}'

rabbitmq:
  url: 'amqp://{{ mq.user }}:{{ mq.password }}@{{ mq.hostname }}'
  routingKey: ''
  exchange: 'sre'

sessionsUrl: 'https://{{ oso.hostname }}/api/v3'
cmpBotToken: '{{ cmp.bot_token }}'

sreApiV3Url: 'https://{{ imp.hostname }}/api/v3'

postman:
  token: '{{ postman.token }}'

rpcServer:
  token: 'rpc-token'
  login: '{{ ldap.username }}'
  password: '{{ ldap.password }}'
  mongodb:
    url: '{{ mongo_url }}'
  roadmap:
    authUrl: 'https://{{ roadmap.hostname }}/auth'
    host: 'https://{{ roadmap.hostname }}/'
    port: ''
    user: '{{ roadmap.user }}'
    pass: '{{ roadmap.password }}'
    path: 'api/'
  ringcentral:
    url: 'https://{{ ringcentral.hostname }}'
    app: '{{ ringcentral.app }}'
    key: '{{ ringcentral.key }}'
    user: '{{ ringcentral.user }}'
    pass: '{{ ringcentral.pass }}'
    userCode: ''
  glip:
    url: '/glip'
  cmp:
    host: 'https://{{ cmp.hostname }}'
    user: '{{ roadmap.user }}'
    pass: '{{ roadmap.password }}'
    rejectUnauthorized: false
    api: 'api/v2/'
  pagerDuty:
    host: 'https://{{ pagerduty.hostname }}/api/v1'
    token: '{{ pagerduty.token }}'
  cmdb:
    url: 'http://int01-c01-cmb01:8443'
