repository: 
dockerconfig:

dbSettings:
  host: ''
  user: ''
  password: ''

awsLambda:
  impdb:
    customer:
      url: https://**********.us-east-1.amazonaws.com/default/platform-db-sync-impdb-customer

      
awsSettings:
  s3:
    accessKeyId: ''
    secretAccessKey: ''
    bucket: ''
  lambda:
    accessKeyId: ''
    secretAccessKey: ''

rabbitmq: 
  url: ''
  routingKey: ''
  exchange: '' 

sessionsServiceToken: ''
sessionsUrl: ''
cmpBotToken: '' 

sreApiV3TestMode: false

postman: 
  token: 'some-postman-token'

rpcServer:
  token: ''
  login: ''
  password: ''
  mongodb:
    url: ''
  roadmap:
    authUrl: ''
    host: ''
    port: ''
    user: ''
    pass: ''
    path: ''
  ringcentral:
    url: ''
    app: ''
    key: ''
    user: ''
    pass: ''
    userCode: '' 
  glip:
    url: ''  
  cmp:
    host: ''
    user: ''
    pass: ''
    rejectUnauthorized: false
    api: ''
  pagerDuty:
    host: ''
    token: ''
  cmdb:
    url: '' 
